$cardWidth: 350px;
$cardHeight: 210px;
$backCardLeftOffset: 3.5rem;
$backCardTopOffset: 2rem;

.credit-card {
    font-family: Arial;
    position: relative;
    width: calc($cardWidth + $backCardLeftOffset);
    height: calc($cardHeight + $backCardTopOffset);

    * {
        box-sizing: border-box;
    }

    &-form {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .front,
    .back {
        border-radius: 0.8rem;
        width: $cardWidth;
        height: $cardHeight;
        padding: 0.75rem 1rem;
        padding-bottom: 1.25rem;
        box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
        overflow: hidden;
    }

    .front {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        z-index: 1;
        position: relative;
    }

    .card-data-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: auto;
    }

    .brand-name {
        flex-grow: 1;
        font-size: 1.25rem;
        font-weight: bold;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }

    fieldset {
        border: none;
        padding: 0;
        margin: 0;

        legend {
            visibility: hidden;
            width: 0;
            height: 0;
            position: absolute;
            top: -200vh;
        }
    }

    label {
        font-size: 0.65rem;
        padding: 0 0.5em;
        text-transform: uppercase;
    }

    .input-row {
        display: flex;
        gap: 2rem;
    }

    .back {
        position: absolute;
        top: $backCardTopOffset;
        left: $backCardLeftOffset;

        .stripe {
            background-color: hsl(200, 80%, 10%);
            height: 35px;
            position: absolute;
            left: 0;
            right: 0;
            top: 1.5rem;
        }
    }
}
