@font-face {
    font-family: "OCR A Std";
    src: url(./fonts/ocrastd.otf);
    font-weight: normal;
    font-style: normal;
}

$errorColor: red;
$cardFontFamily: "OCR A Std", monospace;
$transition: all 0.3s ease;
