body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

body,
#root {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}
